label.small.text-muted {
    font-size: 12px;       /* tamaño de letra */
    font-weight: bold;     /* negrita */
    color: #1a1a1a;        /* texto más oscuro */
    letter-spacing: .05px;   /* espacio entre letras */
    width: 140px !important;     /* 🔹 reduce el ancho */
    height: 28px !important;     /* 🔹 ajusta la altura */
    font-size: 12px !important;  /* 🔹 texto más pequeño */
    padding: 2px 6px !important; /* 🔹 menos espacio interno */
}

.o_pos_txid_box input.form-control.form-control-sm[type="text"] {
    color: #f70404 !important;              /* texto blanco */
    background-color: #f7f8fa !important; /* fondo gris oscuro estilo Odoo */
    border: 1px solid #444 !important;   /* borde discreto */
    width: 150px !important;     /* 🔹 reduce el ancho */
    height: 28px !important;     /* 🔹 ajusta la altura */
    font-size: 12px !important;  /* 🔹 texto más pequeño */
    padding: 2px 6px !important; /* 🔹 menos espacio interno */
}

.o_pos_txid_box {
    background-color: #a0baf0 !important;
    padding: 2px 2px !important;
}