.pos-total-items {
    background-color: #a0baf0;   /* 🟢 Azul muy claro */
    color: #000;                 /* 🟡 Texto negro */
    font-weight: bold;           /* 🔵 Negritas */
    border-top: 1px solid #ccc;  /* 🔴 Línea separadora */
    border-bottom: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
}

button.pay-order-button.btn-highlighted {
  background-color: #fa4f4f !important; /* Amarillo */
   color: white !important;
  border: none !important;
}


/* button.pay-order-button.btn-primary {
  background-color: #28a745 !important; /* Verde personalizado 
  color: white !important;
  border: none !important;
} */



